<div class="about container">
    <div class="hero-image container">
        <div class="img"></div>
        <div class="opacity"></div>
        <div class="content">
            <h1 class="hero-heading">Creating Oppurtunities with authentic integrity.</h1>
            <div><span class="home-router-text" routerLink="/home" >Home </span>  
                <i class="fa-solid fa-arrow-right fa-beat mat-icon" style="color: orangered;"></i>
                <span class="home-router-text" routerLink="/about">About</span>
            </div>
        </div>
    </div>

    <div class="about-me container">
        <div class="content container">
            <span class="heading">ABOUT VINAY</span>
            <h1>LEARN 2 EARN</h1>
            <span class="desc">An entrepreneur, author of various books, a workaholic who believes in the adage “A Ship is always safe at the shore – but that is NOT what it is built for”. He has been an epitome of Quality Trainings and a mentor for numerous projects. He is a strong believer that an Effective Plan Of Action, Proper Execution and Continuous assessment on Real Estate Targets can bring excellent results rather than only focusing on Motivational trainings.</span>
        </div>
        <img src="../../../assets/photos/about/img-2.jpeg" alt="">
    </div>

    <div class="content-3 container">
        <div class="vision">
            <span class="heading">VISION</span>
            <h1>Creating Opportunities For Realtors</h1>
            <span class="desc">To Contribute to the REAL ESTATE Community as a Leader bringing Transformation while providing realistic trainings and mentoring services.</span>
        </div>
        <div class="image">
            
        </div>
        <div class="mission">
            <span class="heading">MISSION</span>
            <h1>
                Transforming Realtors Life From Zero To Pro
            </h1>
            <span class="desc">Translate experience and domain knowledge into the creation of relevant and realistic methods to help Real Estate Community.</span>
        </div>
    </div>
</div>