<br><br>
<div class="back-to-top" >
    <a href="#">Back to top</a>
    <i class="fa-solid fa-arrow-up fa-bounce" style="color: white;"></i>
</div>
<div class="footer">
    
    <div class="container footer-logo">
        <div class="footer-logo-image">
            <img src="../../../assets/photos/logo.png" alt="">
        </div>
        <div class="content">
            <span>We teach you nitty gritty of real estate and how to become successful using our proven strategies and frameworks. SignUp to our 90 day programme</span>
        </div>
    </div>

    <div class="container footer-address">
        <h2 style="color: white;">Address</h2>
        <div class="address">
            <i class="fa-solid fa-address-book fa-beat" style="color: #00ffd5; margin-right: 10px;"></i>
            <span class="address-text">H No. 3-0-503/405, Mayzons SK Square, Mansoorabad Rd, Bahadurguda, Hyderabad, Telangana 500074</span>
        </div>
        <div class="email" style="cursor: pointer; margin: 5px 0;">
            <i class="fa-solid fa-envelope fa-flip" style="color: orange; margin-right: 10px;"></i>
            <span class="email-text">
                vinaykumarstdy@gmail.com
            </span>
        </div>
        <div class="mobile" style="cursor: pointer; margin: 5px 0;">
            <i class="fa-solid fa-phone fa-shake" style="color: pink; margin-right: 10px;"></i>
            <span class="mobile-text">9052522674</span>
        </div>
    </div>

    <div class="container footer-get-in-touch">
        
        <h1>Get In Touch</h1>
        <div class="form">
            <input type="text" placeholder="Name" class="form-control">
            <input type="number" placeholder="Numbet" class="form-control">
            <button mat-flat-button color="warn">GET IN TOUCH</button>
        </div>
        <br>
        <div class="social-profiles">
            <a style="--i:1" class="social" target="_blank" href="https://www.facebook.com/profile.php?id=100089888935337"><i class="fa-brands fa-facebook"></i></a>
            <a style="--i:2" class="social" target="_blank" href="#"><i class="fa-brands fa-instagram"></i></a>
            <a style="--i:3" class="social" target="_blank" href="https://www.linkedin.com/in/vinay-kumar-bantubilli/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
    <br><br>
</div>
<div class="copy-right" >
   <a href="">Copyright © 2021 All rights reserved Laxma Reddy. Powered by Lantrn Marketing</a>
</div>