<mat-card class="container home-image">
    <img mat-card-image src="../../../assets/photos/photo-1.jpeg">
    <div class="opacity">

    </div>
    <mat-card-content class="content">
        <span class="yellow-text move">JOIN LAXMA REDDY’S 180-DAY GROWTH PROGRAMME TODAY</span>
        <h1>Discover the Exceptional You.</h1>
        <span class="move">In real estate, trust, feelings, and figures are everything. Simply put, our goal in being here is to improve you.</span>
        <mat-card-actions>
            <button mat-flat-button color="accent">GET STARTED NOW</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>

<br>
<!-- <mat-divider></mat-divider> -->
<br>


<!-- about lr -->
<mat-card class="about-lr-content container">
    <mat-card-content>
        <mat-card-subtitle><b>ABOUT LR</b></mat-card-subtitle>
        <mat-card-title>You've got the ambition. We've got your road map.</mat-card-title>
        <mat-card-subtitle>
            Learn the tactics, ideas, tips, and best practises for generating high-quality leads that will increase your revenue and change your life. I will assist you in comprehending the power of various real estate markets and in using new opportunities I think the two most valuable commodities in the real estate industry are knowledge and trust.

        </mat-card-subtitle>
        <mat-card-actions>
            <button mat-flat-button color="warn">READ MY STORY</button>
        </mat-card-actions>
    </mat-card-content>  
    <div class="about-lr-photos">
        <div class="image-1"></div>
        <div class="image-2"></div>
    </div>      
</mat-card>


<mat-card class="our-services container">
    <mat-card-content class="our-services-content">

        <!-- main -->
        <div class="main container">
            <mat-card-subtitle><b>OUR SERVICES</b></mat-card-subtitle>
            <mat-card-title>Innovative solutions to move your business forward.</mat-card-title>
            <span>
                10X your real estate business with me. Learn how to generate several income streams. I’ll demonstrate how you can use real estate to address your revenue issues.
            </span>
        </div>

        <!-- cards -->
        <div class="our-services-cards">

            <!-- card - 1 -->
            <mat-card class="card" style="--cards-animation:1">
                <mat-card-title>Mentoring</mat-card-title>
                <mat-card-subtitle>I will teach you to strive and not compete</mat-card-subtitle>
                <mat-card-actions>
                    <button mat-flat-button color="accent">GET MENTORNSHIP</button>
                </mat-card-actions>
            </mat-card>

            <!-- card-2 -->
            <mat-card class="card" style="--cards-animation:2">
                <mat-card-title>Real Estate Training</mat-card-title>
                <mat-card-subtitle>Helping you bring out your full potential</mat-card-subtitle>
                <mat-card-actions>
                    <button mat-flat-button color="accent">ENROLL NOW</button>
                </mat-card-actions>
            </mat-card>

            <!-- card-3 -->
            <mat-card class="card" style="--cards-animation:3">
                <mat-card-title>Real Estate Consulting</mat-card-title>
                <mat-card-subtitle>Helping you bring out your full potential</mat-card-subtitle>
                <mat-card-actions>
                    <button mat-flat-button color="accent">FREE CONSULTING</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-card-content>  
</mat-card>


  
<mat-card class="our-culture container">
    <div class="image">
        <img src="../../../assets/photos/photo-1.jpeg" alt="">
    </div>
    <mat-card-content class="container content">
        <mat-card-subtitle style="color: gold;">OUR CULTURE</mat-card-subtitle>
        <h1>For entrepreneurs, by entrepreneurs.</h1>
        <mat-card-subtitle style="color: aliceblue;">Anyone I mentor in real estate receives local market knowledge from me, and thanks to our presence in Hyderabad, we have clients all throughout the Telangana region. I provide comprehensive knowledge in every area of real estate, including office, retail, hotels, restaurants, warehouses, industrial, logistics, premium local and international, and residential.</mat-card-subtitle>
    </mat-card-content>
</mat-card>


<mat-card class="container our-partners">
    <h1 class="our-partners-heading">Our Partners</h1>
    <div class="container our-partners-content">
        <div class="card">
            <img src="../../../assets/photos/partners/p1.jpg" alt="">
        </div>
        <div class="card">
            <img src="../../../assets/photos/partners/p2.png" alt="">
        </div>
        <div class="card">
            <img src="../../../assets/photos/partners/p3.png" alt="">
        </div>
        <div class="card">
            <img src="../../../assets/photos/partners/p4.png" alt="">
        </div>
        <div class="card">
            <img src="../../../assets/photos/partners/p5.png" alt="">
        </div>
        <div class="card">
            <img src="../../../assets/photos/partners/p6.png" alt="">
        </div>

        <!-- repeat again -->
        <div class="card">
            <img src="../../../assets/photos/partners/p1.jpg" alt="">
        </div>
        <div class="card">
            <img src="../../../assets/photos/partners/p2.png" alt="">
        </div>
        <div class="card">
            <img src="../../../assets/photos/partners/p3.png" alt="">
        </div>
        <div class="card">
            <img src="../../../assets/photos/partners/p4.png" alt="">
        </div>
        <div class="card">
            <img src="../../../assets/photos/partners/p5.png" alt="">
        </div>
        <div class="card">
            <img src="../../../assets/photos/partners/p6.png" alt="">
        </div>
    </div>
</mat-card>


<mat-card class="amazing-expertise ">
   
    <mat-card-content class="container content">
        <mat-card-subtitle>AMAZING EXPERTISE</mat-card-subtitle>
        <h1>More than 20 Years of Experience.</h1>
        <mat-card-subtitle>
            Every facet of my mentorship reflects my desire to broadening horizons while maintaining a high level of presence affinity. I continue to provide thorough real estate coaching and explain how you can make a lot of money through a six-month business plan by taking the time to make sure I comprehend and appreciate the requirements and goals of my team.
        </mat-card-subtitle>
        <mat-card-actions>
            <button mat-flat-button color="warn">GET FREE CONSULTATION</button>
        </mat-card-actions>
    </mat-card-content>
   
    <div class="image container">
    </div>
</mat-card>

<br><br>




<div class="e-learning container">
    <div class="image container">
        <img src="../../../assets/photos/e-learning.jpg" alt="">
    </div>
    <div class="content container">
        <b>E-LEARNING</b>
        <h1>Don't miss the latest seats.</h1>
        <button mat-flat-button color="warn">Book Now</button>
    </div>
</div>
<br><br>




<div class="container gallery">
    <div class="heading">
        <h1>Training Gallery</h1>
    </div>
    <div class="images">
        <mat-card style="--gallery:1">
            <img src="../../../assets/photos/gallery/g1.jpeg" alt="">
        </mat-card>
        <mat-card style="--gallery:2">
            <img src="../../../assets/photos/gallery/g2.jpeg" alt="">
        </mat-card>

        <mat-card style="--gallery:3">
            <img src="../../../assets/photos/gallery/g3.jpeg" alt="">
        </mat-card>
        <mat-card style="--gallery:4">
            <img src="../../../assets/photos/gallery/g4.jpeg" alt="">
        </mat-card>

        <mat-card style="--gallery:5">
            <img src="../../../assets/photos/gallery/g5.jpeg" alt="">
        </mat-card>
        <mat-card style="--gallery:6">
            <img src="../../../assets/photos/gallery/g6.jpeg" alt="">
        </mat-card>

        <mat-card style="--gallery:7">
            <img src="../../../assets/photos/gallery/g7.jpeg" alt="">
        </mat-card>
        <mat-card style="--gallery:8">
            <img src="../../../assets/photos/gallery/g8.jpeg" alt="">
        </mat-card>
    </div>
</div>


<mat-card class="joining container">

    <div class="opacity"></div>
    <div class="container form">
        <h1>Join our program</h1>
        <input type="text" class="form-control" placeholder="Name">
        <input type="text" class="form-control" placeholder="Mobile">
        <input type="text" class="form-control" placeholder="e-mail">
        <textarea name="" id="" cols="30" rows="10" placeholder="Message" class="form-control"></textarea>
        <button mat-raised-button color="accent">JOIN OUR 180-DAY PROGRAMME</button>
    </div>
    <div class="content container">
        <b>E-LEARNING</b>
        <h1>Don't miss the latest seats.</h1>
        <button mat-raised-button color="warn">Book Now</button>
    </div>
</mat-card>
<br><br>




<a href="#">
    <div class="back-to-top-icon">
        <i class="fa-solid fa-arrow-up fa-bounce" style="color: aqua;"></i>
    </div>
</a>


